body{ 
    background-color: #191919;
}

h1{ 
    color: #a87bc7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 6px;
}

img{ 
    border-radius: 50%;
}

div {
    display: block;
}

#titulo{
    position: absolute;
    left: 25%;
    top: 16%;
 }

#avatar{
    position: absolute;
    right: 15%;
    top: 10%;
}
h2{
    color: #a87bc7;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

hr{ 
    width: 50%;
}

p{
    color: white;
    font-size: 14px;
    font-family: monospace;
    text-align: justify;
    margin: 0% 30%;
}

div.introduccion {
    margin-top: 25%;
}

.botones{
    position: absolute;
    left: 35%;
    top: 3%;
    font-size: 17px;
    text-align: center;
    font-family: monospace;
}

.botoncito{
    background-color: #a87bc7;
    padding: 7px;
    border: 10px;
    border-radius: 40px;
}

